* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'fsex300';
    src: url(Fixedsys.ttf);
}

body {
    font-family: "fsex300";
    color:#ffff;
    line-height: 1.75;
    background-image: url("abyss.png");
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
    background-repeat: no-repeat;
}

  .sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 32px;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color:#818181;
  }
  
  .sidenav-head {
    padding-top: 52px;
    padding-bottom: 18px;
    padding-left: 28px;
    line-height: 36px;
    display: block;
    text-decoration: none;
  }
  
  .title {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #f0710a;
  }
  
  .subtitle {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
    color: #818181;
  }

  .sidenav-body {
    flex-grow: 1;
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
  }

  .nav{
    font-size: 18px;
    line-height: 48px;
    padding-left: 28px;
    display: block;
    list-style: none;
    text-decoration: none;
  } 

  a {
    text-decoration: none;
    transition: 0.25s;
    color: #818181;
  }

  a:hover {
    text-decoration: none;
    transition: 0.25s;
    color: #f06e22;
  }
  
.footer-links {
    position: absolute;
    bottom: 20px; 
    width: 100%;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: flex-start;
    margin-left: 28px;
}

.medialink {
    margin-right: 20px;
}

/* below there are settings for mobile menu */

.navbar {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    position: fixed; 
    top: 0;
    left: 0;
    right: 0; 
    background-color: rgba(0, 0, 0, 0.6); 
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px; 
}

.line {
    width: 30px;
    height: 3px;
    background-color: #f0710a;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    max-height: 0;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.6);
}

.mobile-menu.show {
    display: block;
    max-height: 100%; 
	height: 100%;
    width: 100%;
	z-index: 1;
    position: fixed;
    overflow-x: hidden;
}

@media (max-width: 1028px) {
    .sidenav {
        display: none;
    }

    .navbar {
        display: flex;
    }
}

/* endo of mobile menu */